@{
    ViewData["Title"] = "Home Page";
}

<div class="schedule">
    <h1>Welcome to the LYCEUM OF ALABANG</h1>
</div>

<div class="student_profile">
    <img src="/Images/image.png" alt="Ando">
    <h2>Ando, Joshua</h2>

    <div class="student_info">

        <p>Student ID: 1279-21</p>
        <p>Course: Bachelor in Science in Information Technology</p>
        <p>Section: BSIT32E1</p>
    </div>
</div>




