@{
    ViewData["Title"] = "Schedule";
}

<div class="schedule">
    <h1>IT ELECTIVE (FULL STACK) Schedule</h1>
</div>

<div class="schedule">
    <div class="column">
        <div class="Time">07:00 - 10:00 AM</div>
        <div class="event">Saturday</div>
        <div class="event">FACE to FACE</div>
    </div>
    <div class="column">
        <div class="Time">1:00 - 3:00 PM</div>
        <div class="event">Thursday</div>
        <div class="event">ONLINE</div>
    </div>
</div>

